<form name="myForm">
  <div class="control-group">
    <label>Name</label>
    <input type="text" name="text" ng-model="todoText">
  </div>

  <div class="control-group">
    <label>Details</label>
    <textarea name="description" ng-model="todoDetails"></textarea>
    <br>
    <a href="#" class="btn btn-default">Cancel</a>
    <button ng-click="save()" class="btn  btn-primary">Save</button>
    <button ng-click="destroy()" ng-show="project.$remove" class="btn btn-danger">Delete</button>
  </div>
</form>